<a href="https://colab.research.google.com/github/yashchoudhery/Python-For-Learning/blob/main/Python/Basic_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Variables
-number


-string


variable = value

In [1]:
a=18

In [3]:
print(a)
b="name"
print(b)
c=10
print(a+c)

18
name
28

#Operators


<

(>)

-

/

+

%

*

In [4]:
print(a,b
)

18 name

In [5]:
type(a)

int

In [6]:
type(a/1.0)

float

In [7]:
l=a<c
print(l)
type(l)

False

bool

we can alsp do 

==


<=


!=

 ( >=)

In [9]:
 print(a/5) # / this will give up a fully divisible. 
print(type(a/5))

3.6
<class 'float'>

In [10]:
print(a//5)  # // this will give partial divisible value
print(type(a//5))

3
<class 'int'>

In [11]:
a*2
print(a*2)# this will do multiplication

print(a**2)# this will do exponential

36
324

#Condition

In [14]:
age=18
if age < 18:
  print('balik')
else:
  print('nabalik')

nabalik

In [16]:
age=18
if age < 18:
  print('balik')
elif age == 18:
  print('18') 
else:
  print('nabalik')

18

## we can also do nested if else{
  if:
    
        if:
        
            else:


                #something like that

#Loops

for

range(end)======>[0,end)

range(start,end)====>[start,end)

range(start,end,step)==>[start,end,steps)

while

In [17]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)

1
2
3
4
5
6
7

or we can do this by using loops by this

In [22]:
a=8
for i in range(1,a):##(start,end+1)
                    ##we can aslo give start,end+1,endentation(gap/steps))
  print(i)

1
2
3
4
5
6
7

In [25]:
#skip printing multiples of 3
for i in range(19):
  if i%3==0:
    continue#pass
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17

In [30]:
#for stop at multiple of 3
for i in range(1,19):
  if i%3 == 0:
    break
  else:
    print(i)

1
2

### for deleting a variable which was in the memory is by 
 
 del variable_name (this syntax)

In [32]:
i=1
while i< a:
  print(i)
  i=i+1# i+=1

1
2
3
4
5
6
7

##String

In [33]:
a='name'
print(a)
print(type(a))

name
<class 'str'>

In [34]:
a='''hi how are
you i am 
fine'''
print(a)  #triple courts use for multi line string

hi how are
you i am
fine

In [35]:
a="name'a"

In [36]:
print(a)

name'a

In [37]:
a='name"a'

In [38]:
print(a)

name"a

In [40]:
a="""name"a'a"""
print(a)

name"a'a

In [41]:
a="name\"a'a"
print(a)

name"a'a

In [42]:
print(a[2])#it also support negative indexing like -1,-2 etc

m

In [44]:
print(a[1:5]) #[start,end)#same as range

ame"

In [47]:
print(a[5:1:-1])

a"em

In [48]:
print(a[:])

name"a'a

In [49]:
print(a[: :-1])

a'a"eman

##strint re assignment is not possible because it is immutable